.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  margin: 50px;
}

.small-centre-img {
  display: block;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.medium-centre-img {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  float: middle;
}

.large-centre-img {
  display: block;
  width: 80%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

}
.mediumlrg-centre-img{
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
